<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% set metaTitle = metaTitle|default('Matthieu Napoli | Serverless and PHP software consultant') %}
    {% set metaDescription = metaDescription|default('Matthieu is a software consultant working on serverless PHP applications.') %}
    <title>{{ metaTitle }}</title>
    <meta name="description" content="{{ metaDescription|e('html_attr') }}" />
    <meta property="og:title" content="{{ metaTitle|e('html_attr') }}" />
    <meta property="og:description" content="{{ metaDescription|e('html_attr') }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:url" content="https://mnapoli.fr{{ app.request.requestUri|replace({'/dev/': '/'}) }}" />
    <meta property="og:site_name" content="Matthieu Napoli" />
    {% if metaImage|default is not empty %}
        <meta property="og:image" content="{{ metaImage }}" />
        <meta name="twitter:card" content="summary_large_image" />
    {% else %}
        <meta property="og:image" content="https://mnapoli.fr/images/profile.jpg" />
        <meta name="twitter:card" content="summary" />
    {% endif %}
    <meta name="twitter:site" content="@matthieunapoli" />
    {% block metaJson %}{% endblock %}
    <link href="/atom.xml" rel="alternate" title="Blog Matthieu Napoli" type="application/atom+xml">

    <link href="/assets/favicon.ico" rel="icon">
    <link href='//fonts.googleapis.com/css?family=Lato|Open+Sans:300,300i,400' rel='stylesheet' type='text/css'>
    <link href="{{ asset('assets/build/app.css') }}" rel="stylesheet" type="text/css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-15584647-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-15584647-1');
    </script>
</head>
<body>

    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarMenu">
                <div class="navbar-nav">
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'home' %}active{% endif %}" href="/" title="Matthieu Napoli">Home</a>
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'talks' %}active{% endif %}" href="/presentations/">Talks</a>
                    <a class="nav-item nav-link {% if app.request.get('_route') == 'projects' %}active{% endif %}" href="/projects/">Projects</a>
                    <a class="nav-item nav-link d-none d-sm-block" href="/atom.xml" title="Blog Atom feed"><i class="fas fa-rss"></i></a>
                </div>
                <div class="navbar-nav navbar-social-links">
                    <a class="nav-item nav-link" href="http://twitter.com/matthieunapoli" title="Matthieu Napoli on Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="nav-item nav-link navbar-social-links-hide" href="http://github.com/mnapoli" title="Matthieu Napoli on GitHub"><i class="fab fa-github"></i></a>
                    <a class="nav-item nav-link navbar-social-links-hide" href="http://linkedin.com/in/matthieunapoli" title="Matthieu Napoli on Linkedin"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>

    <footer>
        <div class="container">
            <p>
                Copyright &copy; {{ 'now'|date('Y') }} - Matthieu Napoli
            </p>
            <p>
                Other projects:
                <a href="https://null.tc/" title="PHP consulting company">null</a>,
                <a href="https://bref.sh/" title="Serverless PHP on AWS Lambda">Bref</a>,
                <a href="https://externals.io/" title="PHP internals mailing list">externals.io</a>,
                <a href="https://serverless-php.news/" title="Newsletter on serverless news for PHP">Serverless PHP news</a>,
                <a href="https://training.bref.sh/?utm_source=mnapoli.fr&utm_medium=footer&utm_campaign=workshop" title="Workshop to learn how to deploy serverless PHP applications">Serverless PHP training</a>,
                <a href="https://serverless-visually-explained.com/?utm_source=mnapoli.fr&utm_medium=footer&utm_campaign=course" title="Learn serverless with visual animations and code examples">Serverless visual course</a>,
                <a href="https://port7777.com/?utm_source=mnapoli.fr&utm_medium=footer&utm_campaign=7777" title="Connect to AWS RDS databases via SSH tunnels">7777</a>
                <a href="https://madame-yams.com/?ref=mnapoli.fr" title="Madame Yams - Online multiplayer Yahtzee game">7777</a>
            </p>
        </div>
    </footer>

    {% block scripts %}
    {% endblock %}
</body>
</html>
