{% extends 'base.html.twig' %}

{% block metaJson %}
    <script type="application/ld+json">{"@type":"WebSite","url":"https://mnapoli.fr/","headline":"Matthieu Napoli","name":"Matthieu Napoli","description":"Matthieu is a software consultant for PHP and Symfony projects. This is his blog.","@context":"http://schema.org"}</script>
{% endblock %}

{% block body %}

    <header class="home-header clearfix">
        <h1>
            <img class="avatar" src="https://github.com/mnapoli.png?size=140" alt="Matthieu Napoli">
            Matthieu Napoli
        </h1>

        <p class="text-right">
            <span style="font-size: 13px; color: #aaa">switch:</span>
            <a href="#" onclick="showEn(); return false;" title="English version" style="text-decoration: none">🇬🇧</a>
            <a href="#" onclick="showFr(); return false;" title="French version" style="text-decoration: none">🇫🇷</a>
        </p>
        <script>
            function showFr() {
                document.getElementById('intro-fr').classList.remove('d-none');
                document.getElementById('intro-en').classList.add('d-none');
            }
            function showEn() {
                document.getElementById('intro-fr').classList.add('d-none');
                document.getElementById('intro-en').classList.remove('d-none');
            }
        </script>

        <div id="intro-en" class="{{ language == 'fr' ? 'd-none' : '' }}">
            <p>Hi, I am a <strong>software consultant</strong> passionate about my job. I have been working with PHP and JavaScript for 10 years, as <a href="https://www.linkedin.com/in/matthieunapoli/?locale=en_US">fullstack developer, lead dev and CTO</a>. I work with editors and startups to build SaaS products, e-commerce websites, marketplaces…</p>
            <p><a href="mailto:matthieu@mnapoli.fr">You can hire me</a> to reinforce your tech team, audit a <strong>PHP/Symfony</strong>/etc project, help <strong>refactor a legacy codebase</strong> or as <strong>CTO on-demand</strong> to get a project started in the right direction.</p>
            <p>I like to share via <a href="/presentations/">conference talks and workshops</a>, this blog and <a href="http://twitter.com/matthieunapoli">Twitter</a>. I also create and maintain a good amount of <a href="/projects/">open source software</a>.</p>
        </div>
        <div id="intro-fr" lang="fr" class="{{ language == 'en' ? 'd-none' : '' }}">
            <p><strong>Consultant technique</strong> spécialisé dans le web, je travaille avec PHP et JavaScript depuis 10 ans. Tour à tour <a href="https://www.linkedin.com/in/matthieunapoli">développeur fullstack, lead dev et CTO</a>, je travaille avec des éditeurs et startups sur des produits <abbr title="Software as a Service">SaaS</abbr>, sites e-commerce, marketplaces…</p>
            <p><a href="mailto:matthieu@mnapoli.fr">Je peux travailler avec vous</a> pour renforcer votre équipe technique, auditer un projet <strong>PHP/Symfony</strong>/etc, aider au <strong>refactoring de code legacy</strong> ou en tant que <strong>CTO on-demand</strong> pour démarrer votre projet dans la bonne direction.</p>
            <p>J'aime partager via <a href="/presentations/">des conférences et workshops</a>, ce blog et <a href="http://twitter.com/matthieunapoli">Twitter</a>. Je crée et je maintiens également plusieurs <a href="/projects/">projets open source</a>.</p>
        </div>
    </header>

    <h2 id="#upcoming">Upcoming</h2>
    <hr>
    <ul>
        <li>
            <span class="float-right text-muted small">September - Portland</span>
            <em>Serverless and PHP</em>, <a href="https://www.cascadiaphp.com/">CascadiaPHP</a>
        </li>
        <li>
            <span class="float-right text-muted small">October - Milan</span>
            <em>Deploying serverless PHP applications</em>, <a href="https://milan.serverlessdays.io/talk-matthieu-napoli.html">Serverless Days Milano</a>
        </li>
        <li>
            <span class="float-right text-muted small">October - Paris</span>
            <em>Serverless et PHP</em>, <a href="https://event.afup.org/forumphp2018/speakers/#1888">ForumPHP</a>
        </li>
        <li>
            <span class="float-right text-muted small">October - Prague</span>
            <em>Serverless and PHP</em>, <a href="https://2018.phpce.eu/en/#agenda">phpCE</a>
        </li>
        <li>
            <span class="float-right text-muted small">November - Moscow</span>
            <em>Deploying serverless PHP applications</em>, <a href="https://www.devopspro.ru/matthieu-napoli/">DevOps Pro Moscow</a>
        </li>
    </ul>

    <p><a href="/presentations/">View past talks</a></p>

    <h2>Blog</h2>
    <hr>
    {% for article in articles %}
        <div class="home-article-item">
            <time class="text-muted">{{ article.date|date('F Y') }}</time>
            {% if article.isPopular %}<i class="fas fa-star" title="Popular article"></i>{% endif %}
            <h3>
                <a href="/{{ article.slug }}/">{{ article.title }}</a>
            </h3>
        </div>
    {% endfor %}

{% endblock %}
