{% extends 'base.html.twig' %}

{% block metaJson %}
    <script type="application/ld+json">{"@type":"WebSite","url":"https://mnapoli.fr/","headline":"Matthieu Napoli","name":"Matthieu Napoli","description":"Matthieu is a software consultant for PHP and Symfony projects. This is his blog.","@context":"http://schema.org"}</script>
{% endblock %}

{% block body %}

    <header class="home-header clearfix">
        <h1>
            <img class="avatar" src="https://github.com/mnapoli.png?size=140" alt="Matthieu Napoli">
            Matthieu Napoli
        </h1>

        <p class="text-right">
            <span style="font-size: 13px; color: #aaa">switch:</span>
            <a href="#" onclick="showEn(); return false;" title="English version" style="text-decoration: none">🇬🇧</a>
            <a href="#" onclick="showFr(); return false;" title="French version" style="text-decoration: none">🇫🇷</a>
        </p>
        <script>
            function showFr() {
                document.getElementById('intro-fr').classList.remove('d-none');
                document.getElementById('intro-en').classList.add('d-none');
            }
            function showEn() {
                document.getElementById('intro-fr').classList.add('d-none');
                document.getElementById('intro-en').classList.remove('d-none');
            }
        </script>

        <div id="intro-en" class="{{ language == 'fr' ? 'd-none' : '' }}">
            <p>Hi, I am a <strong>software consultant</strong> working on topics such as serverless and PHP. I have been working with PHP and JavaScript as <a href="https://www.linkedin.com/in/matthieunapoli/?locale=en_US">fullstack developer, lead dev and CTO</a>. I work with editors and startups to build SaaS products, e-commerce websites, marketplaces…</p>
            <p><a href="mailto:matthieu@mnapoli.fr">You can hire me</a> to work on <strong>serverless infrastructure</strong>, <strong>PHP/Symfony</strong> project architecture or as <strong>CTO on-demand</strong> to get a project started in the right direction.</p>
            <p>I like to share via <a href="/presentations/">conference talks and workshops</a>, this blog and <a href="/projects/">open source projects</a>.</p>
        </div>
        <div id="intro-fr" lang="fr" class="{{ language == 'en' ? 'd-none' : '' }}">
            <p><strong>Consultant technique</strong> spécialisé dans le web, je travaille avec PHP et JavaScript depuis 10 ans. Tour à tour <a href="https://www.linkedin.com/in/matthieunapoli">développeur fullstack, lead dev et CTO</a>, je travaille avec des éditeurs et startups sur des produits <abbr title="Software as a Service">SaaS</abbr>, sites e-commerce, marketplaces…</p>
            <p><a href="mailto:matthieu@mnapoli.fr">Je peux travailler avec vous</a> sur des <strong>infrastructures serverless</strong>, de l'architecture de projets <strong>PHP/Symfony</strong> ou en tant que <strong>CTO on-demand</strong> auprès de projets et d'équipes qui se forment.</p>
            <p>J'aime partager via <a href="/presentations/">des conférences et workshops</a>, ce blog et des <a href="/projects/">projets open source</a>.</p>
        </div>
    </header>

    <h2 id="#upcoming">Upcoming</h2>
    <hr>

    {% include 'workshop.html.twig' %}

    <ul>
        <li>
            <span class="float-right text-muted small">October - Paris</span>
            <em>L'Architecture Progressive</em>, <a href="https://event.afup.org/">ForumPHP</a>
        </li>
        <li>
            <span class="float-right text-muted small">October - Lyon</span>
            <em>Serverless Laravel</em>, <a href="https://www.meetup.com/fr-FR/Meetup-Laravel-Lyon/events/264717028/">Laravel Lyon meetup</a>
        </li>
        <li>
            <span class="float-right text-muted small">November - Barcelona</span>
            <em>Serverless PHP applications with Bref</em>, <a href="https://php.barcelona/">PHP Barcelona</a>
        </li>
        <li>
            <span class="float-right text-muted small">November - UK</span>
            <em>Serverless PHP applications with Bref</em>, <a href="https://conference.scotlandphp.co.uk/">ScotlandPHP</a>
        </li>
    </ul>

    <p><a href="/presentations/">View past talks</a></p>

    <h2>Blog</h2>
    <hr>
    {% for article in articles %}
        <div class="home-article-item">
            <time class="text-muted">{{ article.date|date('F Y') }}</time>
            {% if article.isPopular %}<i class="fas fa-star" title="Popular article"></i>{% endif %}
            <h3>
                <a href="/{{ article.slug }}/">{{ article.title }}</a>
            </h3>
        </div>
    {% endfor %}

{% endblock %}
