{% extends 'base.html.twig' %}

{% block metaJson %}
    <script type="application/ld+json">{"@type":"WebSite","url":"https://mnapoli.fr/","headline":"Matthieu Napoli","name":"Matthieu Napoli","description":"Matthieu is a software consultant for PHP and Symfony projects. This is his blog.","@context":"http://schema.org"}</script>
{% endblock %}

{% block body %}

    <header class="home-header clearfix">
        <h1>
            <img class="avatar" src="https://github.com/mnapoli.png?size=140" alt="Matthieu Napoli">
            Matthieu Napoli
        </h1>

        <p class="text-right">
            <span style="font-size: 13px; color: #aaa">switch:</span>
            <a href="#" onclick="showEn(); return false;" title="English version" style="text-decoration: none">🇬🇧</a>
            <a href="#" onclick="showFr(); return false;" title="French version" style="text-decoration: none">🇫🇷</a>
        </p>
        <script>
            function showFr() {
                document.getElementById('intro-fr').classList.remove('d-none');
                document.getElementById('intro-en').classList.add('d-none');
            }
            function showEn() {
                document.getElementById('intro-fr').classList.add('d-none');
                document.getElementById('intro-en').classList.remove('d-none');
            }
        </script>

        <div id="intro-en" class="{{ language == 'fr' ? 'd-none' : '' }}">
            <p>Hi, I am a <strong>software consultant</strong> and founder of <a href="https://null.tc/" title="Serverless PHP consulting company">null</a>. I have been working for 10 years with PHP and JavaScript as <a href="https://www.linkedin.com/in/matthieunapoli/?locale=en_US">fullstack developer, lead dev, CTO</a>, while maintaining several <a href="{{ path('projects') }}">open source projects</a>.</p>
            <p><a href="https://null.tc/">We can work together</a> on <strong>serverless infrastructure</strong>, project architecture or as <strong>CTO on-demand</strong> to get a project started in the right direction.</p>
        </div>
        <div id="intro-fr" lang="fr" class="{{ language == 'en' ? 'd-none' : '' }}">
            <p><strong>Consultant technique</strong> spécialisé dans le web, je travaille avec PHP et JavaScript depuis 10 ans. Tour à tour <a href="https://www.linkedin.com/in/matthieunapoli">développeur fullstack, lead dev et CTO</a>, je travaille avec des éditeurs et startups sur des produits <abbr title="Software as a Service">SaaS</abbr>, sites e-commerce, marketplaces…</p>
            <p><a href="https://null.tc/">Je peux travailler avec vous</a> sur des <strong>infrastructures serverless</strong>, de l'architecture de projets PHP ou en tant que CTO on-demand auprès de projets et d'équipes qui se forment.</p>
        </div>
    </header>

    {% include 'course.html.twig' %}

{#    <h2 id="#upcoming">Upcoming</h2>#}
{#    <hr>#}
{#    <ul>#}
{#        <li>#}
{#            <span class="float-right text-muted small">June - Online</span>#}
{#            <em>Serverless PHP applications</em>, talk, <a href="https://www.phpconference.nl/">Dutch PHP Conference</a>#}
{#        </li>#}
{#        <li>#}
{#            <span class="float-right text-muted small">June - Online</span>#}
{#            <em>Serverless PHP using Bref</em>, <a href="https://www.serverlesschats.com/55/">Serverless Chats podcast</a>#}
{#        </li>#}
{#        <li>#}
{#            <span class="float-right text-muted small">July - Online</span>#}
{#            <em>Serverless Laravel</em>, talk, <a href="https://laravelconf.tw/">Laravel Conf Taiwan</a>#}
{#        </li>#}
{#    </ul>#}

{#    <p><a href="/presentations/">View past talks</a></p>#}

    <h2 id="#sponsors">Sponsors</h2>
    <hr>
    <p>These companies <a href="https://github.com/sponsors/mnapoli">sponsor my work</a> on open source projects:</p>
    <p class="text-center">
        <a href="https://geckoengage.com" title="GeckoEngage">
            <img src="/images/logo-gecko-engage.png" alt="GeckoEngage" style="height: 25px"></a>
        <a href="https://www.jetbrains.com/" title="JetBrains">
            <img src="/images/logo-jetbrains.svg" alt="JetBrains - Creator of PhpStorm" style="height: 80px; margin-left: 30px"></a>
        <a href="https://laravel.com/" title="Laravel">
            <img src="/images/logo-laravel.svg" alt="Laravel" style="height: 60px; margin-left: 20px"></a>
        <a href="https://www.twilio.com/" title="Twilio">
            <img src="/images/logo-twilio.svg" alt="Twilio" style="height: 30px; margin-left: 20px"></a>
    </p>
    <p class="text-center">
        <a class="block self-center" href="https://www.amezmo.com/" title="Amezmo - Cloud hosting and deployment for PHP">
            <img src="/images/logo-amezmo.svg" alt="Amezmo" style="width: 70px; margin-top: 5px; margin-right: 10px; margin-bottom: 10px"></a>
        <a class="block self-center" href="https://www.web-id.fr/" title="Web-ID - Laravel web agency">
            <img src="/images/logo-web-id.png" alt="Web-ID" style="height: 35px; margin-right: 10px; margin-bottom: 10px"></a>
        <a class="block self-center" href="https://ecomail.cz/" title="Ecomail.cz">
            <img src="/images/logo-ecomail.png" alt="Ecomail.cz" style="width: 80px; margin-right: 10px; margin-bottom: 10px"></a>
        <a class="block self-center" href="https://akaunting.com/" title="Akaunting - Free Accounting Software">
            <img src="/images/logo-akaunting.svg" alt="Akaunting" style="width: 90px; margin-right: 10px; margin-bottom: 10px"></a>
    </p>

    <h2>Blog</h2>
    <hr>
    {% for article in articles %}
        <div class="home-article-item">
            <time class="text-muted">{{ article.date|date('F Y') }}</time>
            {% if article.isPopular %}<i class="fas fa-star" title="Popular article"></i>{% endif %}
            <h3>
                <a href="/{{ article.slug }}/">{{ article.title }}</a>
            </h3>
        </div>
    {% endfor %}

{% endblock %}
